/* ~~~~~~~~~~~ */
/* Filter Menu */
/* ~~~~~~~~~~~ */

.menu {
	background-color: #aaa;

	padding: 8px;
	/* border-radius: 8px; */
	overflow: hidden;
	font-family: "Exo 2", sans-serif;
}

.menu-header {
	color: #222;
	font-size: x-large;
	padding-bottom: 8px;
}

.panel-list {
	border: 1px dashed #444;
	/* background-color: #666; */
	/* border-radius: 8px; */
	padding: 8px;
}

/* ~~~~~~~~~~~ */
/* Filter Item */
/* ~~~~~~~~~~~ */

.panel {
	--background-color: #ddd;
	--edge-color: #c8c8c8;

	background-color: var(--background-color);
	color: #666;

	/* border-radius: 8px; */
	overflow: hidden;

	display: flex;
	min-height: 50px;
	border-bottom: 2px solid #444;
}

.panel:not(:last-of-type) {
	margin-bottom: 6px;
}

.panel-edge {
	flex: 0 0 0;
	width: 30px;
	background-color: var(--background-color);
	border-right: 2px solid var(--edge-color);

	display: flex;
	align-items: center;
	justify-content: center;

	user-select: none;
}

.panel-edge {
	cursor: grab;
}

.panel-edge:active {
	cursor: grabbing;
}

.panel-contents {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* border: 1px dashed darkgreen; */
}

.panel-header {
	padding: 4px;
	border-bottom: 2px solid var(--edge-color);
	font-size: larger;
}

.panel-body {
	/* padding: 6px; */
	display: grid;
	grid-auto-columns: 0fr 0fr;
	grid-auto-flow: row;
	align-items: center;
	row-gap: 4px;
	padding: 10px;
}

/* ~~~~~~~~~~~~~~~~ */
/* Filter Parameter */
/* ~~~~~~~~~~~~~~~~ */

.param-label {
	grid-column: 1;
	text-align: right;
	align-items: center;
	padding: 4px;
	justify-self: end;

	color: #444;
	font-weight: lighter;
	font-size: small;
	/* border: 1px dashed cornflowerblue; */
}

.param-body {
	grid-column: 2;
	padding: 0px;
	/* border: 1px dashed blue; */
	--single-height: 20px;
	justify-self: start;
	font-size: medium;

	--focus-color: #5dccff;
}

/* ~~~~~~~~~~~ */
/* Range Input */
/* ~~~~~~~~~~~ */

.param-body .range {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.param-body .number {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
	height: var(--single-height);
	margin: 0px;

	padding: 0px;
	padding-left: 4px;
	font-size: small;
}

.param-body .slider {
	margin: 0px;
	padding: 0px;

	appearance: none;
	-webkit-appearance: none;

	--slider-height: var(--single-height);
	background-color: #ccc;
	--lower-color: #888;
	--grabber-color: #666;

	outline: none;
	cursor: pointer;
	overflow: hidden;
	height: var(--slider-height);
}

/* commas won't work here; neither will the :is selector */
.param-body .slider::-moz-range-thumb {
	-webkit-appearance: none;
	width: 2px;
	background: var(--grabber-color);
	box-shadow: -100vw 0 0 100vw var(--lower-color);
	height: var(--slider-height);
}
.param-body .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 2px;
	background: var(--grabber-color);
	box-shadow: -100vw 0 0 100vw var(--lower-color);
	height: var(--slider-height);
}

.param-body .slider:focus::-webkit-slider-thumb {
	--grabber-color: #222;
	border: 2px solid var(--focus-color);
	width: 6px;
}
.param-body .slider:focus::-moz-range-thumb {
	--grabber-color: #222;
	border: 2px solid var(--focus-color);
	width: 8px;
}
.param-body .slider:focus {
	--lower-color: #666;
}

/* ~~~~~~~~~~~~~~ */
/* Checkbox Input */
/* ~~~~~~~~~~~~~~ */

.param-body .checkbox {
	/* visibility: hidden; */
	opacity: 0;
	position: fixed;
}

.param-body .checkbox-outer {
	padding: 0px;
	margin: 0px;

	height: var(--single-height);
	width: calc(2 * var(--single-height));
	display: flex;
}

.param-body .checkbox-display {
	width: 100%;
	height: 100%;

	border-radius: var(--single-height);
	overflow: hidden;

	transition: all 0.1s ease-in-out;
}

.param-body .checkbox-outer:active .checkbox-display:active {
	background-color: #91aa8e;
}

.param-body .checkbox:not(:checked) + .checkbox-display {
	background-color: #888;
}

.param-body .checkbox:checked + .checkbox-display {
	background-color: #22ec08;
}

.param-body .checkbox-display-dot {
	--margin: 2px;
	--border: 2px;
	margin: var(--margin);
	height: calc(100% - (2 * (var(--margin) + var(--border))));
	width: calc(50% - (2 * (var(--margin) + var(--border))));
	border-radius: calc(var(--single-height) - (2 * (var(--margin) + var(--border))));
	border: var(--border) solid #fff;
	background-color: #fff;
	transition: all 0.1s ease-in-out; 
}

.param-body .checkbox:checked + .checkbox-display > .checkbox-display-dot {
	margin-left: calc(50% + var(--margin));
}

.param-body .checkbox-outer:active .checkbox-display-dot {
	width: calc(60%);
}

.param-body .checkbox:checked + .checkbox-display:active > .checkbox-display-dot {
	margin-left: calc(30% + var(--margin) - 2 * var(--border));
}

.param-body .checkbox:focus + .checkbox-display {
	background-color: #666;
}


.param-body .checkbox:checked:focus + .checkbox-display {
	background-color: #1bc405;
}


.param-body .checkbox:focus + .checkbox-display > .checkbox-display-dot {
	background-color: var(--focus-color);
}
