/* ~~~~ */
/* Menu */
/* ~~~~ */

.menu {
	background-color: #aaa;

	padding: 4px;
	/* border-radius: 8px; */
	overflow: hidden;
	font-family: "Exo 2", sans-serif;

	overflow: visible;
	border-radius: 6px;
	min-width: 300px;
}

.menu:not(:last-of-type) {
	margin-bottom: 16px;
}

.menu-header {
	color: #222;
	font-size: 120%;
	padding-bottom: 4px;
	display: flex;
	align-items: stretch;
}

.add-button-container {
	position: relative;
	width: 100px;
	margin-left: auto;
}

.add-button {
	box-sizing: border-box;
	/* border-radius: 10px; */

	background-color: #20a950;
	border-bottom: 2px solid #108138;
	border-radius: 6px;

	overflow: hidden;
	transition: 0.2s;
	width: 100%;
	--height: 25px;
	height: var(--height);

	appearance: none;
	outline: none;

	color: #fff;

	position: absolute;
	right: 0px;

	justify-content: flex-start;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.add-button:hover,
.add-button:focus {
	background-color: #23c75c;
	border-bottom: 2px solid #16b44e;
}

.add-button.expandable:hover,
.add-button.expandable:focus,
.add-button.expandable:focus-within {
	border-radius: 0px;
	box-shadow: 1px 1px 4px #0006;
	width: 150px;
	height: 200px;
	transition-delay: 0.1s;
	transition-property: width, height;
}

.add-button-header {
	height: var(--height);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;

	font-size: 90%;

	cursor: pointer;
}

.add-menu {
	width: 100%;
	height: calc(100% - 30px);
	background-color: #eee;
}

.add-menu-list {
	overflow-y: scroll;
	display: none;
}

.add-button:hover .add-menu-list, 
.add-button:focus-within .add-menu-list {
	display: block;
}


.add-menu-option-button {
	margin: 0px;
	padding: 0px;
	display: flex;
	appearance: none;
	outline: none;
	border: none;

	justify-content: flex-start;
	align-items: center;

	width: 100%;
	color: #222;
	padding-left: 4px;
	padding-right: 4px;
	height: 20px;
	font-size: 90%;
	user-select: none;
	background-color: #eee;

	transition: 0.6s all;
	cursor: pointer;
}

.add-menu-option-button:hover,
.add-menu-option-button:focus {
	transition: 0.2s all;
	background-color: #ccc;
	padding-left: 8px;
}

.add-menu-option-button:not(:last-of-type) {
	border-bottom: 1px solid #ccc;
}

.panel-list:empty {
	border: 2px dashed #444;
	min-height: 30px;
}

/* ~~~~~ */
/* Panel */
/* ~~~~~ */

.panel {
	--background-color: #ddd;
	--edge-color: #c8c8c8;

	background-color: var(--background-color);
	color: #666;

	/* border-radius: 8px; */
	overflow: hidden;

	display: flex;
	border-bottom: 2px solid #444;
	border-radius: 4px;
}

.panel:not(:last-of-type) {
	margin-bottom: 4px;
}

.panel-edge {
	flex: 0 0 0;
	width: 20px;
	background-color: var(--background-color);
	border-right: 2px solid var(--edge-color);

	display: flex;
	align-items: center;
	justify-content: center;

	user-select: none;
}

.panel-edge {
	cursor: grab;
}

.panel-edge:active {
	cursor: grabbing;
}

.panel-contents {
	display: flex;
	flex-direction: column;
	min-height: 30px;
	justify-content: center;
	width: 100%;
	/* border: 1px dashed darkgreen; */
}

.panel-header {
	border-bottom: 2px solid var(--edge-color);

	display: flex;
	align-items: center;
	padding-left: 4px;
}

.panel-header-right {
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
}

.panel-title {
	padding: 2px;
	font-size: 100%;
}

.panel-header .expand-button {
	position: fixed;
	opacity: 0;
}

.panel-header .expand-icon {
	user-select: none;
	transition: 0.1s all;
	cursor: pointer;
}
.panel-header .expand-button:focus + .expand-icon,
.panel-header .expand-icon:hover {
	text-shadow: 0px 0px 4px #005fb8 !important;
}

.panel.expanded .panel-header .expand-icon {
	text-shadow: 0px 0px 2px #000000;
	color: #fff;
}

.panel-header .delete-button {
	position: fixed;
	opacity: 0;
}

.panel-header .delete-icon {
	color: #e99091;
	user-select: none;
	transition: 0.1s all;
	cursor: pointer;
}

.panel-header .delete-button:focus + .delete-icon,
.panel-header .delete-icon:hover {
	color: #ff2a31;
	text-shadow: 0px 0px 4px #ff7627;
}

.panel:not(.expanded) .panel-header {
	border-bottom-width: 0px;
}

.panel:not(.expanded) .panel-body {
	height: 0px;
	display: none;
}

.panel-body {
	transition: all 0.2s;
	/* padding: 6px; */
	display: grid;
	grid-auto-columns: 0fr 0fr;
	grid-auto-flow: row;
	align-items: center;
	row-gap: 4px;
	padding: 10px;
	overflow-x: scroll;
}

/* ~~~~~~~~~ */
/* Parameter */
/* ~~~~~~~~~ */

.param-label {
	white-space: nowrap;
	grid-column: 1;
	text-align: right;
	padding: 4px;
	align-self: flex-start;
	justify-self: end;

	color: #444;
	font-weight: lighter;
	font-size: small;
	/* border: 1px dashed cornflowerblue; */
}

.param-body {
	grid-column: 2;
	padding: 0px;
	/* border: 1px dashed blue; */
	--single-height: 20px;
	justify-self: start;
	font-size: medium;

	--focus-color: #5dccff;
}

/* ~~~~~~~~~~~ */
/* Range Input */
/* ~~~~~~~~~~~ */

.param-body .range {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.param-body .number {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
	height: var(--single-height);
	margin: 0px;

	padding: 0px;
	padding-left: 4px;
	font-size: small;
}

.param-body .slider {
	margin: 0px;
	padding: 0px;

	appearance: none;
	-webkit-appearance: none;

	--slider-height: var(--single-height);
	background-color: #ccc;
	--lower-color: #888;
	--grabber-color: #666;

	outline: none;
	cursor: pointer;
	overflow: hidden;
	height: var(--slider-height);
}

/* commas won't work here; neither will the :is selector */
.param-body .slider::-moz-range-thumb {
	-webkit-appearance: none;
	width: 2px;
	background: var(--grabber-color);
	box-shadow: -100vw 0 0 100vw var(--lower-color);
	height: var(--slider-height);
}
.param-body .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 2px;
	background: var(--grabber-color);
	box-shadow: -100vw 0 0 100vw var(--lower-color);
	height: var(--slider-height);
}

.param-body .slider:focus::-webkit-slider-thumb {
	--grabber-color: #222;
	border: 2px solid var(--focus-color);
	width: 6px;
}
.param-body .slider:focus::-moz-range-thumb {
	--grabber-color: #222;
	border: 2px solid var(--focus-color);
	width: 8px;
}
.param-body .slider:focus {
	--lower-color: #666;
}

/* ~~~~~~~~~~~~~~ */
/* Checkbox Input */
/* ~~~~~~~~~~~~~~ */

.param-body .checkbox {
	/* visibility: hidden; */
	opacity: 0;
	position: fixed;
}

.param-body .checkbox-outer {
	padding: 0px;
	margin: 0px;

	height: var(--single-height);
	width: calc(2 * var(--single-height));
	display: flex;
}

.param-body .checkbox-display {
	width: 100%;
	height: 100%;

	border-radius: var(--single-height);
	overflow: hidden;

	transition: all 0.1s ease-in-out;
}

.param-body .checkbox-outer:active .checkbox-display:active {
	background-color: #91aa8e;
}

.param-body .checkbox:not(:checked) + .checkbox-display {
	background-color: #888;
}

.param-body .checkbox:checked + .checkbox-display {
	background-color: #22ec08;
}

.param-body .checkbox-display-dot {
	--margin: 2px;
	--border: 2px;
	margin: var(--margin);
	height: calc(100% - (2 * (var(--margin) + var(--border))));
	width: calc(50% - (2 * (var(--margin) + var(--border))));
	border-radius: calc(var(--single-height) - (2 * (var(--margin) + var(--border))));
	border: var(--border) solid #fff;
	background-color: #fff;
	transition: all 0.1s ease-in-out;
}

.param-body .checkbox:checked + .checkbox-display > .checkbox-display-dot {
	margin-left: calc(50% + var(--margin));
}

.param-body .checkbox-outer:active .checkbox-display-dot {
	width: calc(60%);
}

.param-body .checkbox:checked + .checkbox-display:active > .checkbox-display-dot {
	margin-left: calc(30% + var(--margin) - 2 * var(--border));
}

.param-body .checkbox:focus + .checkbox-display {
	background-color: #666;
}

.param-body .checkbox:checked:focus + .checkbox-display {
	background-color: #1bc405;
}

.param-body .checkbox:focus + .checkbox-display > .checkbox-display-dot {
	background-color: var(--focus-color);
}

/* ~~~~~~~~~~~~~~~ */
/* Selection Input */
/* ~~~~~~~~~~~~~~~ */

.param-body .select {
	background-color: #fff;
	appearance: none;
	outline: none;
	height: var(--single-height);
	border: 1px solid #888;
	border-radius: 6px;
	text-align-last: center;
	text-align: center;
	align-items: center;
	width: 150px;
}

.param-body .select:focus {
	border-color: var(--focus-color);
	box-shadow: 0px 0px 4px var(--focus-color);
}

.param-body .color-outer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.param-body .color-outer .expand-button {
	user-select: none;
	cursor: pointer;
	transition: 0.4s;
}

.param-body .color-outer.expanded .expand-button {
	transform: rotate(180deg);
}

.param-body .color-inner {
	border: 1px solid #888;
	border-radius: 8px;
	background-color: #ccc;
	padding: 4px;
}

.param-body .color-outer .collapsible {
	transition: 0.2s;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.param-body .color-outer:not(.expanded) .collapsible {
	width: 0px;
	height: 0px;
}

.param-body .record-outer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
}

.param-body .record-outer .button {
	font-family: inherit;
	padding: 0px;
	margin: 0px;
	appearance: none;
	outline: none;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	border: 2px solid var(--color);
	color: var(--color);
	border-radius: 100px;

	padding-right: 6px;

	transition: 0.2s;

	font-size: 80%;

	cursor: pointer;
}

.param-body .record-outer .button:not(:last-of-type) {
	margin-bottom: 4px;
}

.param-body .record-outer .record-button {
	--color: #da1919;
	--hover-color: #e03333;
}

.param-body .record-outer .button:hover,
.param-body .record-outer .button:focus {
	--color: var(--hover-color);
	box-shadow: 0px 0px 4px var(--color);
}

.param-body .record-outer .record-button.recording {
	--color: #ff2626;
	--hover-color: #ff4646;
	text-shadow: 0px 0px 4px var(--color);
}

.param-body .record-outer .download-button {
	--color: #005f9b;
	--hover-color: #2641bd;
	white-space: nowrap;
}

.param-body .record-outer .download-button:not(.enabled) {
	display: none;
}

.param-body .record-outer .record-duration {
	font-family: "Courier New", Courier, monospace;
}
